body
{
	font-family: sans-serif;
}

/* NAV BAR */
#nav_bar a{
	margin-top: 0;
  	display: inline;
  	top: 0;
  	left: 0;
  	margin-left: 10px;
}
#nav_bar
{
	text-align: right;
}
#nav_bar a
{
	font-size: 15px;
}

#nav_bar button{
	background-color: #0677F6;
	height: 30px;
	border-color:#0677F6;
	border-radius: 7px; 
}
{

}


.google_image
{
	/*position: fixed;*/
	display: flex; 
	justify-content: center;
	margin: 8%;
	margin-bottom: 0%;
}
.search_box
{
	margin: 1.5%;
	text-align: center;
}

.search_box input
{
	border-radius: 20px;
	padding: 1.2%;
	border-style: ridge;
	background: url("google_keyboard.png") right     no-repeat;


}

.button_class
{
	text-align: center;

}
.button_class button
{
	padding: 0.5%;
	border-radius: 5px;
	margin: 0.2%;
	background-color: #F0ECEC;
	color: #908484;
}


.google_powred
{
	text-align: center;
	font-size: small;
}

/*.country_name
{
	position: fixed;
	bottom: 5;
	background: #f2f2f2;
  	left: 0;
  	width: 100%;
  	color: white;
  	height: 5%;
  	border-top: solid 2px #e4e4e4;	
}*/

footer  {

	position: fixed;
	bottom: 1%;
	background: #f2f2f2;
  	left: 0;
  	width: 100%;
  	color: white;
  	height: 5%;
  	border-top: solid 2px #e4e4e4;

  
}

footer ul li {
  display: inline;
  color: #908484;
  font-size: 14px;
  padding: 13px;
}

footer ul {
  float: left;
  padding: 1px;
}



.footer-right {
  float: right;
}


